{
  "wifi_ssid": "",
  "wifi_password": ""
  "lcd_enable": true,
  "lcd_w": 240,
  "lcd_h": 240,
  "lcd_rotation": 4,
  "lcd_mosi_gpio": 13,
  "lcd_sck_gpio": 14,
  "lcd_cs_gpio": 2,
  "lcd_dc_gpio": 0,
  "lcd_rst_gpio": 15,
  "lcd_cs_active_high": true,
  "lcd_dc_cmd_high": false,
  "lcd_spi_mode": 0,
  "lcd_keep_cs_asserted": true,
  "lcd_spi_hz": 40000000,
  "lcd_backlight_gpio": 5,
  "lcd_backlight_active_low": true
}
