name: CI

on:
  push:
    branches: ["*"]
    tags: ["*"]

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  static-analysis:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install PlatformIO
        run: |
          pip install 'click<8.1.0'
          pip install platformio

      - name: Run PlatformIO Check
        run: |
          pio check --fail-on-defect high

  build:
    name: Build with PlatformIO
    needs: static-analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install compatible click
        run: pip install 'click<8.1.0' # prevendt conflicts with PlatformIO

      - name: Install PlatformIO
        run: pip install platformio

      - name: Install dependencies
        run: pio lib install

      - name: Build firmware and filesystem
        run: pio run && pio run --target buildfs

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: .pio
          include-hidden-files: true

  package:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: .pio/
          merge-multiple: true

      - name: Install semantic-release and plugins
        run: npm install -g semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: semantic-release
